:root {
    --red: hsl(1, 90%, 64%);
    --blue: hsl(219, 85%, 26%);

    --white: hsl(0, 0%, 100%);
    --bg-body: hsl(207, 24%, 91%);
    --bg-card: hsl(207, 44%, 95%);
    --bg-message: hsl(210, 62%, 94%);

    --grayish-blue: hsl(219, 14%, 63%);
    --dark-grayish-blue: hsl(219, 12%, 42%);
    --very-dark-blue: hsl(224, 21%, 14%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}

body {
    background-color: var(--bg-body);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.container {
    background-color: var(--white);
    border-radius: 10px;
    padding: 10px 30px 0 30px;
    max-width: 650px;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media screen and (max-width: 600px) {
    .container {
        margin: 0;
        border-radius: 0;
        padding: 10px 20px;
    }
}

